In [77]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd


from epftoolbox.data import read_data
from epftoolbox.evaluation import MAE, sMAPE, RMSE
from epftoolbox.models import LEAR

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error

from datetime import datetime as dt

In [78]:
PJM = pd.read_csv('PJMeval.csv', index_col=[0])
NP = pd.read_csv('NPeval.csv', index_col=[0])
FR = pd.read_csv('FReval.csv', index_col=[0])
NGBoost = pd.read_csv('forecast_ng.csv', index_col=[0])


df = pd.read_csv('df_test.csv', index_col=[0])

# PJM LEAR, DNN, NGBOOST

In [79]:
PJM

,Real price,DNN 1,DNN 2,DNN 3,DNN 4,DNN Ensemble,LEAR 56,LEAR 84,LEAR 1092,LEAR 1456,LEAR Ensemble
27/12/2016 00:00,19.113045,19.706123,19.040689,19.661985,18.857361,19.316540,20.1291,20.7366,19.1060,18.9901,19.740450
27/12/2016 01:00,18.042768,18.578808,18.628008,18.581722,17.804329,18.398217,19.5229,19.5459,18.2766,18.4639,18.952325
27/12/2016 02:00,17.587395,17.405716,17.954073,17.564003,16.387474,17.327816,19.0085,18.9345,17.4325,17.5918,18.241825
27/12/2016 03:00,17.399361,16.994461,17.322933,16.941095,15.673610,16.733025,18.9757,19.2347,17.4400,17.5345,18.296225
27/12/2016 04:00,17.804108,18.000519,18.452641,17.457172,15.920693,17.457756,19.3679,19.8770,18.1750,18.1798,18.899925
...,...,...,...,...,...,...,...,...,...,...,...
26/01/2017 19:00,32.532418,35.463852,34.982365,33.913315,33.568974,34.482126,33.9588,33.4068,35.8747,36.8332,35.018375
26/01/2017 20:00,32.359850,34.117020,32.247231,32.549648,33.142986,33.014221,32.5864,31.9694,34.3195,34.9149,33.447550
26/01/2017 21:00,27.024776,30.924381,29.068047,29.203970,30.024324,29.805181,29.7851,28.7912,30.1627,30.5398,29.819700
26/01/2017 22:00,25.084933,27.033443,26.138130,25.693201,26.761005,26.406445,26.0611,24.7918,26.5028,26.8162,26.042975
26/01/2017 23:00,23.213711,24.580513,23.537296,23.653360,24.919537,24.172677,23.9410,23.5673,24.1160,24.5428,24.041775

In [80]:
PJM_DNN = PJM

In [81]:
PJM.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1, inplace=True)
NP.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1,  inplace=True)
FR.drop(['DNN 2', 'DNN 3', 'DNN 4', 'DNN Ensemble', 'LEAR 84', 'LEAR 1092', 'LEAR 1456', 'LEAR Ensemble'], axis=1,  inplace=True)

In [82]:
PJM

                  Real price      DNN 1  LEAR 56
27/12/2016 00:00   19.113045  19.706123  20.1291
27/12/2016 01:00   18.042768  18.578808  19.5229
27/12/2016 02:00   17.587395  17.405716  19.0085
27/12/2016 03:00   17.399361  16.994461  18.9757
27/12/2016 04:00   17.804108  18.000519  19.3679
...                      ...        ...      ...
26/01/2017 19:00   32.532418  35.463852  33.9588
26/01/2017 20:00   32.359850  34.117020  32.5864
26/01/2017 21:00   27.024776  30.924381  29.7851
26/01/2017 22:00   25.084933  27.033443  26.0611
26/01/2017 23:00   23.213711  24.580513  23.9410

[744 rows x 3 columns]

### PJM_LEAR_MAE_MAPE

In [83]:
MAE_PJM = pd.DataFrame(columns=['RMSE','MAE','sMAPE(%)'], index=PJM.index)
for date in PJM.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['MAE'] = MAE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(PJM.loc[date]['LEAR 56']), pd.Series(PJM.loc[date]['Real price'])) * 100

In [84]:
MAE_PJM

                      RMSE       MAE  sMAPE(%)
27/12/2016 00:00  1.016055  1.016055  5.178387
27/12/2016 01:00  1.480132  1.480132  7.880238
27/12/2016 02:00  1.421105  1.421105  7.766472
27/12/2016 03:00  1.576339  1.576339  8.667141
27/12/2016 04:00  1.563792  1.563792  8.413815
...                    ...       ...       ...
26/01/2017 19:00  1.426382  1.426382  4.290437
26/01/2017 20:00   0.22655   0.22655  0.697654
26/01/2017 21:00  2.760324  2.760324  9.717761
26/01/2017 22:00  0.976167  0.976167  3.817176
26/01/2017 23:00  0.727289  0.727289  3.084693

[744 rows x 3 columns]

In [85]:
print(f"Overall RMSE : {RMSE(PJM['LEAR 56'], PJM['Real price'])}")

Overall RMSE : 3.057569933417542

In [86]:
print(f"Overall MAE : {MAE(PJM['LEAR 56'], PJM['Real price'])}")

Overall MAE : 2.2324875712365593

In [87]:
print(f"Overall sMAPE : {sMAPE(PJM['LEAR 56'], PJM['Real price']) * 100}")

Overall sMAPE : 7.597143505568613

### PJM_DNN_MAE_MAPE

In [88]:
MAE_PJM = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=PJM.index)
for date in PJM.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['MAE'] = MAE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price']))
    MAE_PJM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(PJM.loc[date]['DNN 1']), pd.Series(PJM.loc[date]['Real price'])) * 100

In [89]:
print(f"Overall MAE : {MAE(PJM['DNN 1'], PJM['Real price'])}")

Overall MAE : 2.1765672896236556

In [90]:
print(f"Overall sMAPE : {sMAPE(PJM['DNN 1'], PJM['Real price']) * 100}")

Overall sMAPE : 7.50924188506638

In [91]:
print(f"Overall RMSE : {RMSE(PJM['DNN 1'], PJM['Real price'])}")

Overall RMSE : 2.929825690654638

### PJM_NGBOOST_MAE_MAPE

In [92]:
NGB = pd.DataFrame(columns=['Predicted', 'Real Price'], index=pd.date_range(start=dt(2017, 12, 26, 0, 0, 0), end=dt(2018, 12, 24, 23, 0, 0), freq='H'))

In [93]:
temp = []
for _,row in enumerate(NGBoost.index):
    for value in NGBoost:
         temp.append(NGBoost.loc[row][value])

In [94]:
NGB['Predicted'] = temp

In [95]:
NGB.reset_index(inplace=True)
df.reset_index(inplace=True)
NGB['Real Price'] = df['Price']
NGB.set_index('index',inplace=True)
df.set_index('Date',inplace=True)

In [96]:
NGB = NGB[:30*24]

In [98]:
MAE_NGB = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NGB.index)
for date in NGB.index:
    #MAE_NGB.loc[date]['RMSE'] = RMSE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(PJM.loc[date]['Real price']))
    MAE_NGB.loc[date]['MAE'] = MAE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(NGB.loc[date]['Real Price']))
    MAE_NGB.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NGB.loc[date]['Predicted']), pd.Series(NGB.loc[date]['Real Price'])) * 100

In [20]:
#NGBOOST PJM MAE
print(f"Overall MAE : {MAE(NGB['Predicted'], NGB['Real Price'])}")

Overall MAE : 10.582150308006632

In [21]:
#NGBOOST PJM MAPE
print(f"Overall sMAPE : {sMAPE(NGB['Predicted'], NGB['Real Price']) * 100} %")

Overall sMAPE : 23.33853202166183 %

# NP LEAR, DNN, NGBOOST

In [99]:
NP

                  Real price      DNN 1  LEAR 56
27/12/2016 00:00       24.08  24.530144  25.1290
27/12/2016 01:00       22.52  23.115845  24.2083
27/12/2016 02:00       20.13  22.563509  23.9289
27/12/2016 03:00       19.86  22.047380  23.4943
27/12/2016 04:00       20.09  23.055725  23.5104
...                      ...        ...      ...
26/01/2017 19:00       30.66  30.362480  30.3091
26/01/2017 20:00       29.85  29.554022  30.2290
26/01/2017 21:00       29.67  29.148659  29.6552
26/01/2017 22:00       29.05  28.654337  29.2686
26/01/2017 23:00       28.66  28.070572  28.9244

[744 rows x 3 columns]

### NP_LEAR_MAE_MAPE

In [100]:
 MAE_NP = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NP.index)
for date in NP.index:
    MAE_PJM.loc[date]['RMSE'] = RMSE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['MAE'] = MAE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NP.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price'])) * 100

In [101]:
print(f"Overall MAE : {MAE(NP['LEAR 56'], NP['Real price'])}")

Overall MAE : 1.7682907258064515

In [102]:
print(f"Overall sMAPE : {sMAPE(NP['LEAR 56'], NP['Real price']) * 100}")

Overall sMAPE : 5.3357347320699935

In [103]:
print(f"Overall RMSE : {RMSE(NP['LEAR 56'], NP['Real price'])}")

Overall RMSE : 3.184784680917026

### NP_DNN_MAE_MAPE

In [104]:
MAE_NP = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NP.index)
for date in NP.index:
    MAE_NP.loc[date]['RMSE'] = RMSE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['MAE'] = MAE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price']))
    MAE_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NP.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price'])) * 100

In [105]:
print(f"Overall MAE : {MAE(NP['DNN 1'], NP['Real price'])}")

Overall MAE : 1.5872619102822583

In [106]:
print(f"Overall sMAPE : {sMAPE(NP['DNN 1'], NP['Real price']) * 100}")

Overall sMAPE : 4.714884901352434

In [107]:
print(f"Overall RMSE : {RMSE(NP['DNN 1'], NP['Real price'])}")

Overall RMSE : 2.903248470854296

### NP_NGBOOST_MAE_MAPE

In [108]:
NGBoost_NP = pd.read_csv('ngboost_NP.csv', index_col=[0])
NGBoost_NP_m = NGBoost_NP.drop(['h0_sd', 'h1_sd', 'h2_sd', 'h3_sd',
     'h4_sd', 'h5_sd', 'h6_sd', 'h7_sd',
       'h8_sd', 'h9_sd',  'h10_sd',  'h11_sd',
        'h12_sd',  'h13_sd',  'h14_sd', 
       'h15_sd',  'h16_sd',  'h17_sd',  'h18_sd',
        'h19_sd',  'h20_sd',  'h21_sd', 
       'h22_sd',  'h23_sd', 'RMSE'],axis=1)

In [109]:
df1 = pd.read_csv('df_testNP30.csv', index_col=[0])

In [110]:
df1

                  Price  Exogenous 1  Exogenous 2
Date
26/12/2017 00:00  25.82        41942         3817
26/12/2017 01:00  24.94        41236         3839
26/12/2017 02:00  23.81        41088         3796
26/12/2017 03:00  23.68        41089         3804
26/12/2017 04:00  24.29        41331         3829
...                 ...          ...          ...
25/01/2018 19:00  32.18        57273         1532
25/01/2018 20:00  31.49        55528         1500
25/01/2018 21:00  30.73        53916         1480
25/01/2018 22:00  29.71        51694         1396
25/01/2018 23:00  28.98        48986         1244

[744 rows x 3 columns]

In [111]:
NGB_NP = pd.DataFrame(columns=['Predicted', 'Real Price'], index=pd.date_range(start=dt(2017, 12, 26, 0, 0, 0), end=dt(2018, 1, 25, 23, 0, 0), freq='H'))

In [112]:
NGB_NP

                    Predicted Real Price
2017-12-26 00:00:00       NaN        NaN
2017-12-26 01:00:00       NaN        NaN
2017-12-26 02:00:00       NaN        NaN
2017-12-26 03:00:00       NaN        NaN
2017-12-26 04:00:00       NaN        NaN
...                       ...        ...
2018-01-25 19:00:00       NaN        NaN
2018-01-25 20:00:00       NaN        NaN
2018-01-25 21:00:00       NaN        NaN
2018-01-25 22:00:00       NaN        NaN
2018-01-25 23:00:00       NaN        NaN

[744 rows x 2 columns]

In [113]:
temp1 = []
for _,row in enumerate(NGBoost_NP_m.index):
    for value in NGBoost_NP_m:
         temp1.append(NGBoost_NP_m.loc[row][value])

In [114]:
temp1

[23.3096005,
 23.37788854,
 23.37788854,
 23.37788854,
 23.37788854,
 23.61272994,
 24.19558279,
 24.59846164,
 25.17615885,
 25.29089009,
 25.33970108,
 25.28894334,
 25.28894334,
 25.28894334,
 25.28894334,
 25.84064117,
 25.97547832,
 25.97311673,
 25.84064117,
 25.53141067,
 25.25526963,
 25.13279607,
 24.56989233,
 24.56255672,
 24.12914853,
 24.54241854,
 26.34956771,
 27.30961637,
 27.64820247,
 28.24267722,
 29.18921027,
 30.67432156,
 31.30762269,
 31.30762269,
 31.52160835,
 31.54929989,
 31.4982423,
 31.47125416,
 31.59806086,
 32.54148872,
 33.25341913,
 33.28040727,
 33.42359747,
 32.68081562,
 32.76383801,
 32.06855064,
 31.70829604,
 31.37052362,
 30.16143934,
 30.36758571,
 30.37627394,
 30.41069009,
 30.40200186,
 30.45166677,
 31.64345132,
 33.14186172,
 33.28095011,
 33.35899584,
 33.73967862,
 33.5865511,
 33.19041674,
 33.19041674,
 33.68892088,
 34.04301913,
 34.84450591,
 34.13552788,
 32.54148872,
 31.54929989,
 31.13509735,
 30.43980998,
 29.82214758,
 29.01086366,
 27.172281,
 27.15358771,
 26.83970918,
 26.92640702,
 26.90182097,
 26.50524879,
 27.66462394,
 28.9888645,
 30.11734305,
 30.11734305,
 30.30638045,
 30.27302537,
 30.19497964,
 30.46280061,
 30.55692103,
 31.5624864,
 32.23699015,
 32.23699015,
 32.21526754,
 31.16675559,
 30.95780902,
 30.21327988,
 29.64485926,
 29.28432706,
 27.95870655,
 27.96646808,
 27.96646808,
 27.5181258,
 27.40036263,
 27.36900044,
 27.24252921,
 27.96868322,
 28.32921542,
 28.94687782,
 29.67352738,
 29.64216519,
 29.40570641,
 29.29471474,
 29.29471474,
 29.13970035,
 29.36887683,
 29.36887683,
 29.01734073,
 28.78816425,
 28.30160957,
 27.8943849,
 27.23266533,
 26.68516733,
 29.04759626,
 29.07123901,
 29.3717052,
 29.3717052,
 29.77684589,
 29.87142698,
 29.13268798,
 29.65890508,
 29.40305618,
 28.93732233,
 28.83846813,
 28.03165812,
 25.94216539,
 25.64811354,
 25.32811055,
 25.68377988,
 26.39956735,
 26.66947424,
 27.66336193,
 27.78692985,
 27.23523202,
 27.08098269,
 26.71740993,
 26.47222048,
 27.55049063,
 27.69916654,
 27.60487077,
 27.50056252,
 27.06136043,
 27.08234967,
 27.08814049,
 27.50710756,
 27.23409825,
 27.1766988,
 27.54247864,
 27.31574917,
 27.33055404,
 26.99132577,
 26.95056272,
 27.51507095,
 27.47479153,
 28.25985757,
 28.45110196,
 28.51667579,
 28.22153767,
 28.31260927,
 28.04986904,
 27.94797624,
 27.59315371,
 27.68797556,
 27.66354525,
 27.73398434,
 27.62092973,
 28.08430591,
 28.82436099,
 29.44569431,
 29.88063727,
 29.92786806,
 29.92786806,
 29.90403844,
 29.92017792,
 29.90403844,
 29.90403844,
 30.79757294,
 32.79670164,
 33.27159708,
 30.43202378,
 29.59875011,
 29.07381304,
 28.89743121,
 28.5903088,
 28.38322636,
 27.06020297,
 26.44048536,
 26.22589244,
 25.85784737,
 25.65422043,
 25.91953343,
 26.87110775,
 27.42903981,
 27.53140959,
 28.52218209,
 28.54632706,
 29.58982426,
 29.82373542,
 30.00123956,
 30.08841852,
 30.41030118,
 32.24584033,
 33.77314728,
 31.95826307,
 29.92972829,
 29.53638604,
 29.35645279,
 29.0428155,
 28.91818882,
 28.22872481,
 28.08117039,
 27.97715397,
 27.97715397,
 28.04635258,
 28.67095761,
 29.81428123,
 31.63671765,
 32.5963512,
 32.64741233,
 33.23158707,
 33.66876532,
 33.66876532,
 33.66876532,
 33.66876532,
 35.28001486,
 37.53975656,
 37.97331562,
 36.9614986,
 34.71415671,
 32.51924467,
 31.96082175,
 30.81377223,
 29.67417206,
 29.45233345,
 29.32090044,
 29.32090044,
 29.32090044,
 29.45233345,
 30.59594227,
 32.9835032,
 35.36202428,
 39.40231923,
 39.40231923,
 40.03926781,
 39.98851007,
 39.3515615,
 36.60179484,
 36.99445778,
 40.03985455,
 41.26891717,
 41.47780101,
 40.03985455,
 36.3309733,
 34.42830619,
 33.4564357,
 32.78449655,
 32.00065432,
 30.06335699,
 29.25361048,
 29.20223474,
 29.12217747,
 29.25361048,
 29.80750804,
 31.07539134,
 32.02632874,
 32.92334597,
 33.2918692,
 34.30099112,
 34.54112609,
 34.48978161,
 34.17904014,
 34.26906371,
 34.59719014,
 36.86149393,
 38.56894678,
 37.64900336,
 34.69795554,
 33.24871178,
 32.27684129,
 32.18165223,
 31.19435378,
 30.09583761,
 29.96002919,
 29.59645643,
 29.63087258,
 30.01137367,
 30.01137367,
 30.10636424,
 31.00048695,
 31.59408826,
 32.26602741,
 32.34407314,
 32.94374843,
 32.39283411,
 32.37590579,
 32.34148964,
 33.27923833,
 34.29100359,
 35.96316456,
 34.27934393,
 33.1579063,
 32.00302082,
 31.73643846,
 30.95595735,
 30.54723944,
 30.01911342,
 29.79297492,
 29.80463458,
 29.97382471,
 30.3214472,
 31.90341678,
 35.13136166,
 43.56842782,
 46.98563027,
 44.01449735,
 44.01449735,
 43.51767008,
 42.07474344,
 41.96051596,
 41.96051596,
 43.51767008,
 45.43146605,
 46.16882124,
 41.90408925,
 38.73199602,
 34.39662449,
 33.49056709,
 32.11690453,
 31.03421976,
 31.15272823,
 30.52383513,
 30.22539256,
 30.37533797,
 30.25145019,
 30.46081443,
 31.8537976,
 35.99099082,
 37.19817812,
 36.88521527,
 37.19817812,
 36.84414659,
 36.69212678,
 35.80050063,
 35.80050063,
 36.80796213,
 37.17569061,
 37.17569061,
 37.12092499,
 35.80050063,
 35.29093314,
 33.09878202,
 31.7934762,
 31.4027893,
 30.37735917,
 30.16052933,
 30.42583686,
 30.73026185,
 30.81043504,
 32.20369966,
 34.466843,
 39.69591987,
 41.4953645,
 40.72510397,
 43.23826343,
 43.75007443,
 44.00535179,
 42.67826049,
 43.15447332,
 44.21140346,
 45.68738068,
 47.12956411,
 44.62583416,
 43.48411894,
 39.20652672,
 36.91046185,
 35.07153033,
 34.10432074,
 33.56376348,
 33.07690341,
 33.07690341,
 33.07690341,
 33.30304192,
 34.45033408,
 37.2807899,
 45.44192602,
 48.12201924,
 47.35175872,
 47.35175872,
 47.30100098,
 46.83248704,
 45.50539575,
 45.48846742,
 47.2496565,
 48.23176326,
 49.67394668,
 47.52604656,
 44.7014516,
 40.86974119,
 37.49222153,
 35.44225819,
 34.37711237,
 32.899956,
 32.43857645,
 32.15781826,
 31.88074088,
 32.10687938,
 33.073664,
 35.20025195,
 39.96964317,
 41.69976573,
 41.69976573,
 41.69976573,
 41.83454415,
 41.24245506,
 40.23499356,
 39.94259466,
 40.05682213,
 41.02967032,
 41.73538702,
 40.14357445,
 38.66512767,
 35.40600661,
 34.64883395,
 33.71724475,
 32.78532446,
 28.01516885,
 27.97403558,
 27.61046282,
 27.40679058,
 27.61046282,
 27.97403558,
 27.89407178,
 28.12722802,
 28.38619994,
 28.34960069,
 28.58953434,
 28.67794903,
 28.66288107,
 28.61905792,
 28.69850236,
 28.70487715,
 29.35997939,
 31.17379593,
 29.24463658,
 28.40129212,
 28.29892234,
 28.17211564,
 27.9806041,
 28.14558036,
 28.00397787,
 27.84969797,
 27.560354,
 27.40679058,
 27.560354,
 27.87412828,
 27.90679257,
 27.85928499,
 28.09296032,
 28.41850133,
 28.34960069,
 28.58953434,
 28.54111845,
 28.50593097,
 28.61905792,
 28.66983215,
 29.24463658,
 30.94135146,
 29.04760956,
 28.76371507,
 28.25141578,
 28.0222393,
 28.0086857,
 27.83924424,
 26.60036981,
 26.58556494,
 26.58556494,
 26.58556494,
 26.60036981,
 26.56805654,
 27.35875801,
 31.42355804,
 32.20676993,
 32.15200431,
 32.15200431,
 32.10124657,
 31.90404897,
 31.8629803,
 31.8629803,
 32.07875905,
 32.07875905,
 32.07875905,
 32.07875905,
 31.82679584,
 29.81513026,
 27.90866361,
 27.24384169,
 26.96865995,
 26.07832464,
 26.57622485,
 26.58556494,
 26.58556494,
 26.77634155,
 27.21669437,
 28.60955184,
 32.28718792,
 33.5613917,
 33.59711911,
 33.72276722,
 33.67200948,
 33.67200948,
 32.69959298,
 33.17580581,
 33.74267577,
 36.83685046,
 37.06608302,
 34.6936093,
 32.73521427,
 31.22945999,
 29.45610821,
 28.94700633,
 28.59717528,
 28.18559577,
 28.22084683,
 28.3430822,
 28.33059343,
 28.33610541,
 28.60792605,
 29.47588718,
 35.0909716,
 37.2143416,
 36.53389825,
 37.76082153,
 37.58261057,
 36.48314051,
 34.14828576,
 34.26412111,
 37.16358386,
 39.72585173,
 39.85330495,
 39.30682502,
 34.41988379,
 32.25551111,
 30.36216561,
 29.29422761,
 28.98854696,
 28.30783114,
 28.34859418,
 28.35338011,
 28.34859418,
 28.30783114,
 28.58230353,
 29.72856485,
 35.52968915,
 38.03044506,
 37.93577454,
 38.30793932,
 39.65055843,
 38.9870434,
 38.42513853,
 38.40821021,
 39.61614228,
 41.75938344,
 41.81072792,
 40.35866591,
 37.02525074,
 35.2343291,
 31.72935313,
 30.24144232,
 29.66859288,
 28.55872776,
 28.5994908,
 28.5994908,
 28.5994908,
 28.55872776,
 28.8514521,
 30.70461949,
 38.34055681,
 41.72614619,
 41.72614619,
 41.72614619,
 40.24072911,
 38.8691066,
 36.98011043,
 36.86588296,
 36.84895464,
 38.81776213,
 39.78086153,
 37.32958496,
 34.75029665,
 30.93338087,
 29.91386045,
 29.26227379,
 29.04968305,
 28.31519468,
 28.30714674,
 28.35044575,
 28.35044575,
 28.35044575,
 28.42236571,
 28.18404676,
 28.34493988,
 28.75175505,
 29.0757352,
 29.39567332,
 29.76599896,
 29.46355594,
 29.46355594,
 29.46355594,
 29.76599896,
 31.58650924,
 34.19376375,
 33.69221355,
 29.76599896,
 29.08775003,
 28.8536557,
 28.62802753,
 28.63128303,
 28.54750748,
 28.54199551,
 28.54199551,
 28.54199551,
 28.54199551,
 28.54199551,
 28.41635955,
 28.63128303,
 28.62802753,
 28.8536557,
 29.20087698,
 29.76599896,
 29.46355594,
 29.46355594,
 29.46355594,
 30.68878779,
 33.69221355,
 35.2408681,
 34.64727213,
 33.2659521,
 30.13002805,
 29.08653408,
 28.62043247,
 28.53479635,
 28.40768222,
 28.46211232,
 28.11281203,
 28.01901364,
 28.2054788,
 28.60205486,
 29.63208704,
 36.21690724,
 35.95440897,
 35.67344938,
 35.95440897,
 36.37004589,
 36.37004589,
 36.49569399,
 36.53073899,
 36.56636028,
 36.76144283,
 37.22681294,
 37.08780563,
 38.96384423,
 35.32005103,
 34.13529213,
 29.95727895,
 29.59685428,
 28.58182697,
 28.64829695,
 28.58508247,
 28.58508247,
 28.55826177,
 28.92571034,
 34.08894188,
 39.35758276,
 37.07755096,
 36.58149673,
 36.54645173,
 36.49569399,
 36.37004589,
 34.91798388,
 34.7140875,
 35.62269164,
 35.29483613,
 32.99757245,
 32.60847752,
 32.01728603,
 29.97191234,
 27.98591674,
 27.32109483,
 27.06570508,
 26.11908769,
 26.10428281,
 25.9799452,
 26.46122733,
 26.58556494,
 27.25697379,
 28.50718206,
 31.45410898,
 31.56617583,
 30.65649887,
 30.31727059,
 30.07602267,
 29.88498843,
 29.38343823,
 29.38343823,
 29.88498843,
 30.70510687,
 30.81933434,
 30.07602267,
 28.10735634,
 27.42346461,
 27.19428812,
 27.40493336,
 27.4366676,
 25.50564315,
 25.66689136,
 25.66689136,
 25.66689136,
 26.14817348,
 26.79186413,
 27.82691922,
 28.73496972,
 30.13988617,
 30.2445072,
 28.93224085,
 28.88148311,
 28.68421198,
 28.68421198,
 29.29330629,
 29.50984509,
 31.06727635,
 31.9562813,
 31.40615601,
 30.08841852,
 29.3819493,
 28.99806746,
 28.75713797,
 28.91818882,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h0_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h1_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h2_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h3_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h4_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h5_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h6_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h7_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h8_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h9_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h10_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h11_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h12_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h13_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h14_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h15_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h16_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h17_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h18_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h19_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h20_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h21_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h22_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h23_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h0_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h1_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h2_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h3_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h4_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h5_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h6_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h7_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h8_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h9_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h10_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h11_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h12_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h13_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h14_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h15_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h16_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h17_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h18_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h19_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h20_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h21_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h22_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h23_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h0_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h1_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h2_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h3_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h4_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h5_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h6_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h7_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h8_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h9_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h10_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h11_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h12_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h13_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h14_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h15_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h16_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h17_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h18_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h19_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h20_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h21_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h22_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h23_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h0_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h1_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h2_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h3_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h4_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h5_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h6_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h7_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h8_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h9_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h10_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h11_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 Name: h12_m, dtype: float64,
 Date
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN
 NaN   NaN

In [115]:
NGB_NP['Predicted'] = temp1

ValueError: Length of values (912) does not match length of index (744)

In [147]:
NGB_NP.reset_index(inplace=True)
df1.reset_index(inplace=True)
NGB_NP['Real Price'] = df1['Price']
NGB_NP.set_index('index',inplace=True)
df1.set_index('Date',inplace=True)

In [148]:
MAE_NGB_NP = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=NGB_NP.index)
for date in NGB_NP.index:
    MAE_NGB_NP.loc[date]['MAE'] = MAE(pd.Series(NGB_NP.loc[date]['Predicted']), pd.Series(NGB_NP.loc[date]['Real Price']))
    MAE_NGB_NP.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(NGB_NP.loc[date]['Predicted']), pd.Series(NGB_NP.loc[date]['Real Price'])) * 100

In [149]:
#NGBOOST PJM MAE
print(f"Overall MAE : {MAE(NGB_NP['Predicted'], NGB_NP['Real Price'])}")

Overall MAE : nan

In [150]:
#NGBOOST PJM MAPE
print(f"Overall sMAPE : {sMAPE(NGB_NP['Predicted'], NGB_NP['Real Price']) * 100} %")

Overall sMAPE : nan %

# FR LEAR, DNN, NGBOOST

In [119]:
FR

                  Real price      DNN 1  LEAR 56
04/01/2015 00:00       36.26  37.908104  38.9034
04/01/2015 01:00       32.28  34.774220  33.6675
04/01/2015 02:00       27.63  30.165806  29.7656
04/01/2015 03:00       23.94  24.531939  25.5819
04/01/2015 04:00       15.69  22.675518  22.3733
...                      ...        ...      ...
03/02/2015 19:00       68.71  75.608505  61.6084
03/02/2015 20:00       61.75  62.047821  55.5862
03/02/2015 21:00       53.17  51.751099  49.9943
03/02/2015 22:00       51.80  52.766350  50.5059
03/02/2015 23:00       46.98  50.929592  49.8164

[744 rows x 3 columns]

### FR_LEAR_MAE_MAPE

In [118]:
MAE_FR = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=FR.index)
for date in FR.index:
    MAE_FR.loc[date]['RMSE'] = RMSE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(NP.loc[date]['Real price']))
    MAE_FR.loc[date]['MAE'] = MAE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(FR.loc[date]['LEAR 56']), pd.Series(FR.loc[date]['Real price'])) * 100

KeyError: '04/01/2015 00:00'

In [120]:
MAE_FR

                  MAE sMAPE(%)
04/01/2015 00:00  NaN      NaN
04/01/2015 01:00  NaN      NaN
04/01/2015 02:00  NaN      NaN
04/01/2015 03:00  NaN      NaN
04/01/2015 04:00  NaN      NaN
...               ...      ...
03/02/2015 19:00  NaN      NaN
03/02/2015 20:00  NaN      NaN
03/02/2015 21:00  NaN      NaN
03/02/2015 22:00  NaN      NaN
03/02/2015 23:00  NaN      NaN

[744 rows x 2 columns]

In [37]:
print(f"Overall MAE : {MAE(FR['LEAR 56'], FR['Real price'])}")

Overall MAE : 3.6409138440860214

In [38]:
print(f"Overall sMAPE : {sMAPE(FR['LEAR 56'], FR['Real price']) * 100} %")

Overall sMAPE : 10.136066936173954 %

In [ ]:
print(f"Overall RMSE : {RMSE(FR['LEAR 56'], FR['Real price'])}")

### FR_DNN_MAE_MAPE

In [73]:
MAE_FR = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=FR.index)
for date in FR.index:
    MAE_FR.loc[date]['RMSE'] = RMSE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(NP.loc[date]['Real price']))
    MAE_FR.loc[date]['MAE'] = MAE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(FR.loc[date]['Real price']))
    MAE_FR.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(FR.loc[date]['DNN 1']), pd.Series(FR.loc[date]['Real price'])) * 100

KeyError: '04/01/2015 00:00'

In [40]:
print(f"Overall MAE : {MAE(FR['DNN 1'], FR['Real price'])}")

Overall MAE : 3.492987625467742

In [41]:
print(f"Overall sMAPE : {sMAPE(FR['DNN 1'], FR['Real price']) * 100} %")

Overall sMAPE : 9.197918358127502 %

### FR_NGBOOST_MAE_MAPE

In [52]:
MM  = pd.read_csv('FR_DATA.csv', index_col=[0])

In [53]:
MM

                  Predicted  Real Price
Date
01/12/2016 00:00  44.463552       72.00
01/12/2016 01:00  39.963504       65.80
01/12/2016 02:00  38.171424       59.99
01/12/2016 03:00  34.852367       50.69
01/12/2016 04:00  32.619534       52.58
...                     ...         ...
31/12/2016 19:00  50.009299       69.72
31/12/2016 20:00  48.912822       57.10
31/12/2016 21:00  44.061156       54.49
31/12/2016 22:00  40.405223       54.95
31/12/2016 23:00  47.366881       61.19

[744 rows x 2 columns]

In [55]:
MAE_NGB_FR = pd.DataFrame(columns=['MAE','sMAPE(%)'], index=MM.index)
for date in MM.index:
    MM.loc[date]['MAE'] = MAE(pd.Series(MM.loc[date]['Predicted']), pd.Series(MM.loc[date]['Real Price']))
    MM.loc[date]['sMAPE(%)'] = sMAPE(pd.Series(MM.loc[date]['Predicted']), pd.Series(MM.loc[date]['Real Price'])) * 100

In [57]:
#NGBOOST FR MAE
print(f"Overall MAE : {MAE(MM['Predicted'], MM['Real Price'])}")

Overall MAE : 14.890192014395161

In [58]:
#NGBOOST FR MAPE
print(f"Overall sMAPE : {sMAPE(MM['Predicted'], MM['Real Price']) * 100} %")

Overall sMAPE : 28.618586036865622 %